.navbar {
    flex-grow: 1;
    z-index: 1000;
    position: relative;
}

.nav_lang_box {
    display: flex;
    align-items: center;
}

.nav_lang {
    cursor: pointer;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid transparent;
    transition: 0.3s;
}

.img {
    width: 100%;
    height: 100%;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.navicon {
    background: grey;
    display: flex;
    align-items: center;
}

.twiwhiicon {
    width: 30px;
    height: 30px;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 3px;
    border-radius: 50%;
}

.telegram {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
    margin-left: 2px;
    margin-bottom: 3px;
}

.instagram {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
}

.facebook {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
    margin-top: 6px;
}

.nav-link {
    color: black;
}

@media (max-width: 576px) {
    .navicon {
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
        align-items: center;
        justify-content: space-between;
        background: grey;
        width: 30px;
    }

    .facebook {
        display: block;
        width: 24px !important;
        height: 24px !important;
        border-radius: 50%;
        margin-top: -4px;
        margin-bottom: 8px;
    }

    .telegram {
        display: block;
        width: 24px !important;
        height: 24px !important;
        border-radius: 50%;
        margin-left: 2px;
        margin-bottom: 4px;
    }

    .instagram {
        display: block;
        width: 32px !important;
        height: 32px !important;
        border-radius: 50%;
        margin-bottom: 4px;
    }

    .twiwhiicon {
        display: block;
        width: 24px !important;
        height: 24px !important;
        border-radius: 50%;
    }

}
